<!-- USER_HOME PAGE -->

<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
	<div class="body_container">

		<div class="header_bar">
			<div><a class="header_back_btn" href="#" onclick="logout()">Logout</div></a>
			<a href="/settings"><div class="settings_button"><img class="settings_icon_img" src="images/settings_icon.png"></div></a>
			<center><a onclick="goToHomeAction()"><img class="header_logo" src="images/Logo_thicker.png"></a></center>
		</div>
		
		<div id="body">
			<h2 class="body_header_text">Edit Contact</h2>
			<input id="contact_id_field" type="hidden" value={{contact}}>
			<form id="add_contacts_form" role="form" method="get" action="/when">

				<center>
						<table>

							<tr id="delete_contact_row">
								<td><a class="link edit_contact_delete_btn"><div class="footer_single_btn"><div id="plus_button_text">Delete Contact</div></div></a></td>
							</tr>
							
						</table>
					</form>
				</center>

			<div class="clear_footer"></div>

			<div class="nav_footer">
				<div class="nav_footer_btn_container">
					<a class="nav_footer_link" onclick="updateContactsData()"><div class="nav_footer_button_option next">Update</div></a>
					<a class="nav_footer_link" href="/contacts"><div class="nav_footer_button_option back">Contacts</div></a>
				</div>
			</div>


		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/main.js"></script>
	<script src="js/edit_contact_JS.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48463521-2', 'remindly.me');
	  ga('send', 'pageview');
	</script>

</body>
</html>


