<!-- HOMESCREEN -->

<!doctype html>

<html>
<head>
	<title>Remindly: Delayed SMS Reminders</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div id="body">
		<br><br>
		<center><a href="/"><img id="home_page_logo" src="images/Logo.png"></a></center>
		<center><h4 class="page_header">Login with cell number to send a delayed text reminder!</h4></center>

		<div id="login_text_field_container">
			<div id="login_text_field">
				<span>( _ _ _ ) _ _ _ - _ _ _ _</span> &nbsp;<a href="/user_home"><img src="images/next.png" width="30" height"30"></a>
			</div>
		</div>

		<br>
		<div id="dialpad_container">
			<table id="dialpad_table">
				<tr>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_1.png" ></a></td>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_2.png"></a></td>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_3.png"></a></td>
				</tr>

				<tr>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_4.png"></a></td>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_5.png"></a></td>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_6.png"></a></td>
				</tr>

				<tr>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_7.png"></td>
					<td class="dial_button"></a><img class="dialpad_button_image" src="images/dialpad_8.png"></td>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_9.png"></a></td>
				</tr>

					<tr>
					<td class="dial_button"></td>
					<td class="dial_button"><a href="#"><img class="dialpad_button_image" src="images/dialpad_0.png"></a></td>
					<td class="dial_button"></td>
				</tr>

			</table>
		</div>
		
	</div>

	

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/hci-friends.js"></script>

</body>
</html>
