<!-- HOMESCREEN -->

<!doctype html>

<html>
<head>
	<title>Remindly: Delayed SMS Reminders</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	      
</head>

<body>
	<div class="body_container">
	<div id="body">
		<br><br>
		<center><a href="/"><img id="home_page_logo" src="images/logo_color.png"></a></center>
		<center><h4 class="body_header_text">Login with cell number to send a delayed text reminder!</h4></center>


		<div id="login_text_field_container">
			<form>
			<input type="tel" id="login_field" placeholder="( _ _ _ ) _ _ _ - _ _ _ _"/>
			<div id="next_button_container"><a href="/user_home"><img id="next_button" src="images/next.png"></a></div>
			</form>
		</div>

		<div id="delayed_sms_reminder_img_container">
			<center><img id="delayed_sms_reminder_img" src="images/delayed_sms_reminder_logo_large.png"></center>
		</div>

		<!-- <br>
		<div id="dialpad_container">
			<table id="dialpad_table">
				<tr>
					<td class="dial_button"><a id="digit1" href="#"><img class="dialpad_button_image" src="images/dialpad_1.png" ></a></td>
					<td class="dial_button"><a id="digit2" href="#"><img class="dialpad_button_image" src="images/dialpad_2.png"></a></td>
					<td class="dial_button"><a id="digit3" href="#"><img class="dialpad_button_image" src="images/dialpad_3.png"></a></td>
				</tr>

				<tr>
					<td class="dial_button"><a id="digit4" href="#"><img class="dialpad_button_image" src="images/dialpad_4.png"></a></td>
					<td class="dial_button"><a id="digit5" href="#"><img class="dialpad_button_image" src="images/dialpad_5.png"></a></td>
					<td class="dial_button"><a id="digit6" href="#"><img class="dialpad_button_image" src="images/dialpad_6.png"></a></td>
				</tr>

				<tr>
					<td class="dial_button"><a id="digit7" href="#"><img class="dialpad_button_image" src="images/dialpad_7.png"></a></td>
					<td class="dial_button"><a id="digit8" href="#"><img class="dialpad_button_image" src="images/dialpad_8.png"></a></td>
					<td class="dial_button"><a id="digit9" href="#"><img class="dialpad_button_image" src="images/dialpad_9.png"></a></td>
				</tr>

					<tr>
					<td class="dial_button"></td>
					<td class="dial_button"><a id="digit0" href="#"><img class="dialpad_button_image" src="images/dialpad_0.png"></a></td>
					<td class="dial_button"><a id="delete_btn" href="#"><img style="width:65px; height:auto;" class="dialpad_button_image" src="images/back_button.png"></a></td>
				</tr>

			</table>
		</div> -->
		
	</div>

	</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/main.js"></script>

</body>
</html>
