<!-- LOGIN SCREEN -->

<!doctype html>

<html>
<head>
	<title>Remindly: Delayed SMS Reminders</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	      
</head>

<body>
	<div class="body_container">
	<div id="body">
		<br><br>
		<center><a href="/"><img id="home_page_logo" src="images/homepage_logo.png"></a></center>
		<center><h4 class="body_header_text">{{message}}</h4></center>


		<div id="login_text_field_container">
			<form name="login_form" onsubmit="return verifyLogin()" method="get">
				
				<center><p class="body_normal_text">Enter your phone number</p></center>
				<input type="tel" id="user_phone" name="user_phone" placeholder="( _ _ _ ) _ _ _ - _ _ _ _">
					<a onclick="verifyLogin()"><img id="next_button" src="images/next.png">
				</input>

			<!-- <div id="next_button_container"><input type="image" onclick="verifyLogin()" style="width:35px; height: auto;" src="images/next.png"></div> -->
			<!-- <input type="submit" id="login_submitBtn" value="Submit"> -->
			</form>
		</div> 

		<div id="delayed_sms_reminder_img_container">
			<center><img id="delayed_sms_reminder_img" src="images/delayed_sms_reminder_logo_large.png"></center>
		</div>
		
	</div>

	</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/main.js"></script>
		<script src="js/login_page.js"></script>

</body>
</html>
