
<!-- USER_HOME PAGE -->

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>

<body>
	<div id="body">
		<br><br><br>
		<center><a href="/"><img id="home_page_logo" src="images/Logo.png"></a></center>
		<h2 class="page_header">Create Message</h2>

		
			<div class="message_container">

			<h4 class="message_label">To:</h3>
			<div id="to_field">
				<input class="textbox"type="text" style="margin-left: 20px" placeholder="Enter name...">
			</div>

			<h4 class="message_label">Message:</h3>
			<div id="message_field">
				<center><textarea class="message_textbox"></textarea></center>
			</div>
		</div>
	
		<div class="clear_footer"></div>

		<div class="nav_footer">
			<a class="nav_footer_link" href="/user_home"><div class="nav_footer_button next">Send</div></a>

			<a class="nav_footer_link" href="/"><div class="nav_footer_button">When</div></a>
		</div>
	</div>

</body>
</html>


