
<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
	<div class="body_container">

		<div class="header_bar">
			<div><a class="header_back_btn" href="/">Cancel</div></a>
			<center><a href="/"><img class="header_logo" src="images/Logo_thicker.png"></a></center>
		</div>
		
		<div id="body">
			<h2 class="body_header_text">Welcome to Remindly!</h2>
			<h3 class="body_normal_text">It looks like this is your first time here! What's your first name?</h3>
			<form id="new_user_form" name="new_user_form" action="/user_home" method="get" >
				<input id="user_phone" type="hidden" value={{user_phone}} name="user_phone">
				<center><input id="user_name" type="text" name="user_name"></center>
				<td><input type="submit" id="submitBtn" value="Submit"></td>
			</form>
			<div class="clear_footer"></div>

			<div class="nav_footer">
				<div class="nav_footer_btn_container">
					<a class="nav_footer_link" onclick="createNewUser()"><div class="nav_footer_button">Get Started &nbsp;&gt;</div></a>
				</div>
			</div>



		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/main.js"></script>
	<script src="js/new_user_JS.js"></script>

</body>
</html>


