<!-- USER_HOME PAGE -->

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>

<body>
	<div id="body">
		<br><br><br>
		<center><a href="/"><img id="home_page_logo" src="images/Logo.png"></a></center>
		<h2 class="page_header">Pending Remindlys</h2>

	

		<div class="clear_footer"></div>

		<div class="nav_footer">
			<a class="nav_footer_link" href="/who"><div class="nav_footer_button next" style="height: 40px">Send Remindly</div></a>

			<a class="nav_footer_link" href="/"><div class="nav_footer_button">Home</div></a>
		</div>
			

		
	</div>


</body>
</html>


