<!-- USER_HOME PAGE -->

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>

<body>
	<div id="body">
		<br><br><br>
		<center><a href="/"><img id="home_page_logo" src="images/Logo.png"></a></center>
		<h2 class="page_header">Please Enter Pin # Texted to Your Phone</h2>

		<center><input class="textbox"type="text" placeholder="Pin #..."></center>
		<div class="clear_footer"></div>

		<div class="nav_footer">
			<a class="nav_footer_link" href="/user_home"><div class="nav_footer_button next">Login</div></a>

			<a class="nav_footer_link" href="/"><div class="nav_footer_button">Cancel</div></a>
		</div>
			

		
	</div>


</body>
</html>


