<!-- WHEN PAGE -->
<!-- USER_HOME PAGE -->

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>

<body> 
	<div id="body" style="width: 490px; background-image:url('images/When_Page_Mockup.png')">
		<br><br><br>
		<!-- <center><a href="/"><img id="home_page_logo" src="images/Logo.png"></a></center> -->
		<!-- <h2 class="page_header">Select when to send Remindly</h2> -->

	
		<div class="clear_footer" style="height: 590px"></div>

		<div class="nav_footer">
			<a class="nav_footer_link" href="/message"><div class="nav_footer_button next" style="height: 40px">Write Message</div></a>

			<a class="nav_footer_link" href="/who"><div class="nav_footer_button">Who</div></a>
		</div>

		
	</div>


</body>
</html>


