<!-- WHEN PAGE -->

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>

<body>
	<div id="body">
		<br><br><br>
		<center><a href="/"><img id="home_page_logo" src="images/Logo.png"></a></center>
		<h2 class="page_header">Select When to Send Remindly</h2>

		<center>
		<h2 class="page_header">When: </h2><input class="textbox"type="text" placeholder="mm/dd/yyyy HH:MM pm/am">
		</center>

		<div class="clear_footer"></div>

		<div class="nav_footer">
			<a class="nav_footer_link" href="/message"><div class="nav_footer_button next" style="width: 90px;height: 40px">Write Message &gt;</div></a>

			<a class="nav_footer_link" href="/who"><div class="nav_footer_button">&lt;&nbsp;Back</div></a>
		</div>

			

		
	</div>
		<script src="https://code.jquery.com/jquery.js"></script>

		<script src="js/main.js"></script>

</body>
</html>





