<!-- WHO PAGE -->

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>

<body>
	<div id="body">
		<br><br><br>
		<center><a href="/"><img id="home_page_logo" src="images/Logo.png"></a></center>
		<h2 class="page_header">Send a remindly to</h2>

		<div id="contacts_container">
			<!-- <center>
			<table>
				<tr>
					<td class="contact_row"><div class="selected_contact"><span class="contact_text">Me</span></div></td>
				</tr>
				<tr>
					<td class="contact_row"><div class="contact_to_add"><span class="contact_text"><i>Add phone or name...</i></span></div></td>
				</tr>
				<tr>
					<td class="contact_row"><div class="contact_to_add"><span class="contact_text"><i>Add phone or name...</i></span></div></td>
				</tr>
				<tr>
					<td class="contact_row"><div class="contact_to_add"><span class="contact_text"><i>Add phone or name...</i></span></div></td>
				</tr>
				<tr>
					<td class="contact_row"><div class="contact_to_add"><span class="contact_text"><i>Add phone or name...</i></span></div></td>
				</tr>
			</table>
			</center>
			<center>
			<br><br> 
			<input class="textbox"type="text"> 
			<br><br> 
			<input class="textbox"type="text"> 
		</center> -->
			<center>

				<table>
					<tr>
						<td class="contact_row"><a href="#" class="contact_link"><div class="selected_contact"><span class="contact_text">Me</span></div></a></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox"type="text" placeholder="Add phone or name..."></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox"type="text" placeholder="Add phone or name..."></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox"type="text" placeholder="Add phone or name..."></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox"type="text" placeholder="Add phone or name..."></td>
					</tr>
				</table>
			</center>
		</div>

		<div class="clear_footer"></div>

		<div class="nav_footer">
			<a class="nav_footer_link" href="/when"><div class="nav_footer_button next">When</div></a>

			<a class="nav_footer_link" href="/"><div class="nav_footer_button">Home</div></a>
		</div>
			

		
	</div>


</body>
</html>


