#pending_remindly_table {
	font-family: "helvetica";
	/*color: white;*/
	background-color: rgba(122, 205, 75, 1);
/*	border: 1px solid;*/
	margin: auto;
	width: 90%;
	border-radius:12px;
	padding:5px;
	color: white;
}
#pending_remindly_table td {
	text-align:right;
	vertical-align:bottom;
}
#pending_remindly_table th {
	vertical-align: top;
	text-align: left;
}
#msginfo {
	margin:auto;
	padding-left: 30px;
	padding-top: 5px;
}

#hidden_form_data {
	position: absolute;
}

/* APPLICATION TEMPLATE*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 15px;
	font-family: "helvetica";
	/*background-color: black;*/
}

/* Prevents mobile browser from autozooming when 
 * user selects to edit a form field (when mobile
 * keyboard pops up, default on mobile is to zoom
 * into text field, this @media prevents that).
 */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 select:focus, textarea:focus, input:focus {
	 font-size: 16px;
	 background:#eee;
  }
 }


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 350px) {
	
	/* APPLICATION TEMPLATE */

	body { 
		font-size: 1.5em;
		background-color: #f6f6f6;

	}

	#body {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-family: "helvetica";
	font-weight: lighter;
	/*background-image: url('background_image.png');*/

	}

/* HEADER STYLING */

	.header_bar {
		background-color: rgba(122, 205, 75, 1);
		height: 2.2em;
	}

	.header_back_btn {
		float: left;
		position: absolute;
		text-decoration: none;
		color: white;
		font-size: .8em;
		font-weight: 300;
		margin-top: .7em;
		margin-left: .5em;
	}



	.settings_icon_img {
		width: 70%;
		height: auto;
		clear: both;
	}

	.settings_button {
		margin-left: 90%;
		margin-top: .6em;
		position: absolute;
		float: right;

	}

	.header_logo {
		margin-top: .2em;
		width: 4.5em;
		height: auto;

	}

	/* BODY STYLING */

	.body_header_text {
		font-size: .9em;
		font-family: "helvetica";
		font-weight: 300;
		text-align: center;
		margin-bottom: .4em;

	}

	.sub_body_header_text {
		font-size: 0.8em;
		font-family: "helvetica";
		font-weight: 100;
		text-align: center;
		margin-bottom: -.4em;

	}

	.body_normal_text {
		font-size: 1.0em;
		font-family: "helvetica";
		font-weight: 200;
		opacity: .7;
		text-align: center;
	}

	/* FOOTER STYLING */

	.clear_footer {
		width: 100%;
		height: 5em;
		margin-right: auto;
		margin-left: auto;
	}

	.nav_footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 2.2em;
		text-align: center;
		width: 100%;
		background-color: rgba(122, 205, 75, 1);
	}

	
	.nav_footer_link {
		font-size: .8em;
		color: white;
		text-decoration: none;
		font-weight: 400;
	}


	.nav_footer_button {
		margin-top: 8px;
		margin-bottom: 8px;
		margin-right: auto;
		margin-left: auto;
		border:.11em solid white;
		padding:5px; 
		width: 85%;
		height: 1.3em;
		border-radius:10px;
	}

	

	.nav_footer_button_option {
		margin-top: 8px;
		margin-bottom: 8px;

		margin-right: auto;
		margin-left: auto;
		border:.11em solid white;
		/*width: 25%;*/
		padding:5px; 
		height: 1.3em;
		border-radius:10px;
		min-width: 35%;
	}

	.next {
		float: right;
		margin-right: 5%;
	}

	.back {
		float: left;
		margin-left: 5%;

	}

	.nav_footer_btn_buffer {
		width: 100%;
		height: 2em;
	}
	/* END FOOTER STYLING*/

	/* FORMATTED INPUT FIELDS */

	.phone_number_fields {
		text-align: center;
		letter-spacing: .4em;
	}

	/* LOGIN PAGE */

	#home_page_logo {
		margin-top: -2em;
		width: 10em;
		height: auto;
	}

	#login_text_field_container {
		text-align: center;
	}

	#user_phone {
		text-align: center;
		letter-spacing: .4em;
    border: 1px solid #c4c4c4;
    width: 16em;
    height: 2em;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
	}

	input#user_phone::-webkit-input-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }
	input#user_phone::-moz-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }
	input#user_phone:-ms-input-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }
	input#user_phone:-moz-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }


	#user_phone:focus { 
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
	}

	#next_button {
		width: 1.2em;
		height auto;
	}
	#delayed_sms_reminder_img_container {
		margin-top: 1em;
	}

	#delayed_sms_reminder_img {
		width: 9em;
		height: auto;
	}

	#get_pending_remindlys {
		visibility: hidden;
	}

	.hidden_button_container {

	}

	/* END LOGIN PAGE STYLING */

	/* NEW USER PAGE STYLING */

	#new_user_field_label {
		font-size: .9em;
	}

	#user_name {
		font-size: .7em;
		font-family: "helvetica";
		font-weight: 400;
	  border: 1px solid #848484; 
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:2em; 
	  width: 80%; 
	  padding-left:10px; 
	  padding-right:10px; 
	}

	/* END NEW PAGE STYLING*/


	/* SETTINGS PAGE STYLING */

	#settings_form_container {
		margin-right: auto;
		margin-left: 12%;
		width: 90%;
	}

	#settings_user_phone_field {
		text-align: center;
		letter-spacing: .4em;
    border: 1px solid #c4c4c4;
    width: 80%;
    height: 2em;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
	}

	input#settings_user_phone_field::-webkit-input-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }
	input#settings_user_phone_field::-moz-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }
	input#settings_user_phone_field:-ms-input-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }
	input#settings_user_phone_field:-moz-placeholder { font-size: 1.2em; text-align: center; letter-spacing: .4em; }


	#settings_user_phone_field:focus { 
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
	}
	.settings_field_label {
		font-size: .8em;
		margin-right: 2%;
	}

	#settings_user_name_field {
    border: 1px solid #c4c4c4;
    width: 80%;
    height: 2em;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
	}

	#settings_user_name_field:focus {
		outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;

	}

	/* END SETTING PAGE STYLING */


	/* USER_HOME PAGE STYLING*/

	#numpending {
		font-size: .8em;
		text-align: center;
		font-weight: 200;
	}

	/* WHO PAGE STYLING */

	#contacts_container {
		/*background-color: red;*/
		width: 100%;
	}

	.contact_row {
		/*background-color: green;*/
		width: 12em;
		/*width: 400px;*/
		height: 50px;
	}


	.recipient_textbox { 
		font-size: .7em;
		font-family: "helvetica";
		font-weight: 400;
	  border: 1px solid #848484; 
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:1.7em; 
	  width: 90%; 
	  padding-left:10px; 
	  padding-right:10px; 
	} 

	#plus_row_button {
		text-align: center;
	  border: 1px solid rgba(122, 205, 75, 1);
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:1.6em; 
	  width: 90%; 
	  padding-left:10px; 
	  padding-right:10px; 
		background-color: rgba(122, 205, 75, 1);
		overflow: auto;

	}

	#plus_button_text {
		color: white;
		margin-top: -.17em;
		font-size: 1.5em;
	}


	input.textbox::-webkit-input-placeholder {font-style: italic;}
	input.textbox::-moz-placeholder { font-style: italic;}
	input.textbox:-ms-input-placeholder { center; font-style: italic;}
	input.textbox:-moz-placeholder { font-style: italic;}


	.contact_to_add {
		border:2px solid black;
		padding:5px; 
		width: 350px;
		height: 30px;
		border-radius:10px;
		text-align: left;
	}
	.contact_text {
		margin-left: 8px;
		text-decoration: none;
	}

	.contact_link {
		text-decoration: none;
	}
	.contact_link:visited {
		color:black;
		text-decoration: none;
	}


	.select_me_contact_btn {
		border: 1px solid #848484; 
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:25px; 
	  width: 90%; 
	  padding-left:10px; 
	  padding-right:10px; 
		background-color: rgba(254, 254, 254, .5);
		text-align: left;
	}

	#checkbox_container {
		float: left;
		margin-left: .5em;
	}

	input[type=checkbox].css-checkbox {
		display:none;
	}

	input[type=checkbox].css-checkbox + label.css-label {
		padding-left:30px;
		height:25px; 
		display:inline-block;
		line-height:25px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:25px;
		vertical-align:middle;
		cursor:pointer;

	}

	input[type=checkbox].css-checkbox:checked + label.css-label {
		background-position: 0 -25px;
	}

	label.css-label {
		background-image:url("images/checkbox.png");
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}


	#submitBtn {
		visibility: hidden;
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #d6d6d6) );
		background:-moz-linear-gradient( center top, #f5f5f5 5%, #d6d6d6 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d6d6d6');
		background-color:#f5f5f5;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topleft:8px;
		border-top-left-radius:8px;
		-webkit-border-top-right-radius:8px;
		-moz-border-radius-topright:8px;
		border-top-right-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-moz-border-radius-bottomright:8px;
		border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-left-radius:8px;
		text-indent:0;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:"helvetica";
		font-size:.5em;
		font-weight:light;
		font-style:normal;
		height:2.5em;
		text-decoration:none;
		text-align:center;
		text-shadow:0px 0px 0px #ffffff;
	}

	#submitBtn:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d6d6d6), color-stop(1, #f5f5f5) );
		background:-moz-linear-gradient( center top, #d6d6d6 5%, #f5f5f5 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#f5f5f5');
		background-color:#d6d6d6;
	}

	#submitBtn:active {
		position:relative;
		top:1px;
	}

}

/* END OF WHO PAGE STYLING */

/* WHEN PAGE STYLING */

/* see date.css, default.css, default.date.css, default.time.css*/

/* END OF WHEN PAGE STYLING */

/* MESSAGE PAGE STYLING */

#message_container {
	margin-top:-.7em;
}

#message_textbox { 
	padding-left: .5em;
	font-size: 1em;
	font-family: "helvetica";
	font-weight: 200;
  border: 1px solid #848484; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
  outline:0; 
  height:6.5em; 
  width: 88%; 
} 

#message_label {
	margin-bottom: .2em;
	padding-left: 5%;
	font-family: "helvetica";
	font-weight: 200;
	font-size: .9em;
}

#headerinfo {
	visibility: hidden;
}








/******************************************************/



/* Desktops and laptops ----------- */
@media only screen and (min-width : 351px) {
	/* APPLICATION TEMPLATE */

	body { 
		font-size: 1.5em;
	}

	.body_container {
		min-width: 350px;
		width: 40%;
		background-color: #f6f6f6;
		/*height: 100%;*/
		margin-right: auto;
		margin-left: auto;
		min-height: 650px;
				position: relative;

	}

	#body {
		height: 80%;
		background-color: #f6f6f6;

		font-family: "helvetica";
		font-weight: lighter;
		top: none;
	}

/* HEADER STYLING */

	.header_bar {
		margin-right: auto;
		margin-left: auto;
		background-color: rgba(122, 205, 75, 1);
		height: 3em;
	}

	.header_back_btn {
		float: left;
		position: absolute;
		text-decoration: none;
		color: white;
		font-size: .9em;
		font-weight: 100;
		letter-spacing: .05em;
		margin-top: 1.1em;
		margin-left: 1em;
	}

	.settings_icon_img {
		width: 70%;
		height: auto;
		clear: both;
	}

	.settings_button {
		margin-left: 90%;
		margin-top: .7em;
		position: absolute;
		float: right;

	}

	.header_logo {
		margin-top: .2em;
		width: 7em;
		height: auto;
	}

	/* BODY STYLING */

	.body_header_text {
		font-size: 1.0em;
		font-family: "helvetica";
		font-weight: 200;
		opacity: .7;
		text-align: center;
	}

	.sub_body_header_text {
		opacity: .6;
		font-size: 0.6em;
		font-family: "helvetica";
		font-weight: 200;
		text-align: center;
		margin-top: -1em;
		margin-bottom: -.4em;
	}


	.body_normal_text {
		font-size: 0.8em;
		font-family: "helvetica";
		font-weight: 200;
		opacity: .7;
		text-align: center;
	}

	.body_small_text {
		font-size: 0.7em;
		font-family: "helvetica";
		font-weight: 200;
		opacity: .7;
	}

	/* FOOTER STYLING */

/*	.clear_footer {
		width: 100%;
		height: 5em;
		margin-right: auto;
		margin-left: auto;
	}*/

	.nav_footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/*z-index: -1;*/
		text-align: center;
		width: 100%;
		height: 3em;
		background-color: rgba(122, 205, 75, 1);

	}

	
	.nav_footer_link {
		font-size: .8em;
		color: white;
		text-decoration: none;
		font-weight: 100;

	}


	.nav_footer_button {
		margin-right: auto;
		margin-left: auto;
		border:.11em solid white;
		padding:5px; 
		width: 85%;
		height: 1.3em;
		border-radius:10px;
		margin-top: .9em;
		margin-bottom: .75em;

	}

	

	.nav_footer_button_option {
		margin-top: .9em;
		margin-bottom: .75em;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		border:.11em solid white;
		width: 27%;
		padding:5px; 
		height: 1.3em;
		border-radius:10px;
	}

	.next {
		float: right;
		margin-right: 5%;
	}

	.back {
		float: left;
		margin-left: 5%;

	}

	.nav_footer_btn_buffer {
		width: 100%;
		height: 2em;
	}
	/* END FOOTER STYLING */

	/* FORMATTED INPUT FIELDS */

	.phone_number_fields {
		text-align: center;
		letter-spacing: .4em;
	}


	/* LOGIN PAGE */

	#home_page_logo {
		width: 14em;
		height: auto;
	}

	#login_text_field_container {
		/*width:70%;*/
		text-align: center;
	}

	#user_phone {
		letter-spacing: .6em;
		text-align: center;
    border: 1px solid #c4c4c4;
    width: 16em;
    height: 2em;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

	input#user_phone::-webkit-input-placeholder {text-align: center; letter-spacing: .6em; }
	input#user_phone::-moz-placeholder { text-align: center; letter-spacing: .6em; }
	input#user_phone:-ms-input-placeholder { text-align: center; letter-spacing: .6em; }
	input#user_phone:-moz-placeholder { text-align: center; letter-spacing: .6em; }


	#user_phone:focus { 
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
	}

	#next_button {
		width: 1.2em;
		height auto;
	}
	#delayed_sms_reminder_img_container {
		margin-top: 4em;
	}

	#delayed_sms_reminder_img {
		width: 15em;
		height: auto;
	}

	#get_pending_remindlys {
		/*position: relative;*/
		visibility: hidden;
		/*position: absolute;*/
	}

	.hidden_button_container {

	}

	/* END LOGIN PAGE STYLING */


	/* NEW USER PAGE STYLING */

	#user_name {
		font-size: .7em;
		font-family: "helvetica";
		font-weight: 400;
	  border: 1px solid #848484; 
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:2em; 
	  width: 60%; 
	  padding-left:10px; 
	  padding-right:10px; 
	}

	/* END NEW USER PAGE STYLING*/

	/* SETTINGS PAGE STYLING */

	#settings_form_container {
		margin-right: 12%;
		margin-left: auto;
		width: 85%;
		text-align: right;
		/*background-color: red;*/
	}


	.settings_field_label {
		margin-right: 5%;
		/*padding-bottom: 110px;*/
		/*color: white;*/
	}

	#settings_user_phone_field {
		letter-spacing: .6em;
		text-align: center;
    border: 1px solid #c4c4c4;
    width: 16em;
    height: 2em;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
	}

	input#settings_user_phone_field::-webkit-input-placeholder {text-align: center; letter-spacing: .6em; }
	input#settings_user_phone_field::-moz-placeholder { text-align: center; letter-spacing: .6em; }
	input#settings_user_phone_field:-ms-input-placeholder { text-align: center; letter-spacing: .6em; }
	input#settings_user_phone_field:-moz-placeholder { text-align: center; letter-spacing: .6em; }


	#settings_user_phone_field:focus { 
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
	}
	#settings_user_name_field {
		/*letter-spacing: .6em;*/
		/*text-align: center;*/
    border: 1px solid #c4c4c4;
    width: 16em;
    height: 2em;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
	}

	#settings_user_name_field:focus {
		outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;

	}

	/* END SETTING PAGE STYLING */

	/* WHO PAGE STYLING */

	#contacts_container {
		width: 100%;
	}

	.contact_row {
		width: 45%;
		height: 50px;
	}


	.recipient_textbox { 
		font-size: .7em;
		font-family: "helvetica";
		font-weight: 400;
	  border: 1px solid #848484; 
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:2em; 
	  width: 90%; 
	  padding-left:10px; 
	  padding-right:10px; 
	} 

	#plus_row_button {
		text-align: center;
	  border: 1px solid rgba(122, 205, 75, 1);
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:1.6em; 
	  width: 90%; 
	  padding-left:10px; 
	  padding-right:10px; 
		background-color: rgba(122, 205, 75, 1);
		overflow: auto;

	}

	#plus_button_text {
		color: white;
		margin-top: -.17em;
		font-size: 1.5em;
	}

	input.textbox::-webkit-input-placeholder {font-style: italic;}
	input.textbox::-moz-placeholder { font-style: italic;}
	input.textbox:-ms-input-placeholder { center; font-style: italic;}
	input.textbox:-moz-placeholder { font-style: italic;}


	.contact_to_add {
		border:2px solid black;
		padding:5px; 
		width: 350px;
		height: 30px;
		border-radius:10px;
		text-align: left;
	}
	.contact_text {
		margin-left: 8px;
		text-decoration: none;
	}

	.contact_link {
		text-decoration: none;
	}
	.contact_link:visited {
		color:black;
		text-decoration: none;
	}


	.select_me_contact_btn {
		border: 1px solid #848484; 
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:25px; 
	  width: 90%; 
	  padding-left:10px; 
	  padding-right:10px; 
		background-color: rgba(254, 254, 254, .5);
		text-align: left;
	}

	#checkbox_container {
		float: left;
		margin-left: .5em;
	}

	input[type=checkbox].css-checkbox {
		display:none;
	}

	input[type=checkbox].css-checkbox + label.css-label {
		padding-left:30px;
		height:25px; 
		display:inline-block;
		line-height:25px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:25px;
		vertical-align:middle;
		cursor:pointer;

	}

	input[type=checkbox].css-checkbox:checked + label.css-label {
		background-position: 0 -25px;
	}

	label.css-label {
		background-image:url("images/checkbox.png");
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}


	#submitBtn {
		visibility: hidden;
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #d6d6d6) );
		background:-moz-linear-gradient( center top, #f5f5f5 5%, #d6d6d6 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d6d6d6');
		background-color:#f5f5f5;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topleft:8px;
		border-top-left-radius:8px;
		-webkit-border-top-right-radius:8px;
		-moz-border-radius-topright:8px;
		border-top-right-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-moz-border-radius-bottomright:8px;
		border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-left-radius:8px;
		text-indent:0;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:"helvetica";
		font-size:18px;
		font-weight:light;
		font-style:normal;
		height:2.5em;
		width:20%;
		text-decoration:none;
		text-align:center;
		text-shadow:0px 0px 0px #ffffff;
	}

	#submitBtn:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d6d6d6), color-stop(1, #f5f5f5) );
		background:-moz-linear-gradient( center top, #d6d6d6 5%, #f5f5f5 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#f5f5f5');
		background-color:#d6d6d6;
	}

	#submitBtn:active {
		position:relative;
		top:1px;
	}

	/* END WHO PAGE STYLING*/

	/* MESSAGE PAGE STYLING */



	#message_textbox { 
		padding-left: .5em;
		font-size: 1em;
		font-family: "helvetica";
		font-weight: 200;
	  border: 1px solid #848484; 
	  -webkit-border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  border-radius: 10px; 
	  outline:0; 
	  height:7.5em; 
	  width: 88%; 
	} 

	#message_label {
		margin-bottom: .2em;
		padding-left: 5%;
		font-family: "helvetica";
		font-weight: 100;
		font-size: 1em;
	}

	#headerinfo {
		visibility: hidden;
	}



}
