
/* APPLICATION WIDE */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#body {
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
	color: white;
	font-family: "helvetica neue";
	font-weight: lighter;

}

.page_header {
	font-family: "helvetica neue";
	font-weight: 100;
	text-align: center;

}

.clear_footer {
	width: 100%;
	height: 60px;
}

.nav_footer {
	text-align: center;
	padding: 30px;

}

.nav_footer_link {
	color: white;
	text-decoration: none;

}

.nav_footer_button {
	/*background-color: rgba(254, 254, 254, .5);*/
	border:1px solid white;
	padding:5px; 
	width: 70px;
	height: 25px;
	border-radius:10px;

}
.next{
	float: right;
}

.back {

}
/* INDEX PAGE */

#login_text_field_container {


	/*background-color: green;*/
	text-align: center;
	height: 70px;
	color: white;
	font-size: 30px;
}

#login_text_field {
	margin-top: 26px;
	border:2px solid white;
	padding:5px; 
	width: 350px;
	border-radius:50px;
	margin-left: auto;
	margin-right: auto;

}

#dialpad_container {
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	/*background-color: red;*/

	height: 400px;
}

#dialpad_table {
	margin-right: auto;
	margin-left: auto;

}

.dial_button {
	width: 90px;
}
.dialpad_button_image {
	width: 80px;
	height: 80px;
}

td {
	/*background-color: green;*/
	/*width: 80px;*/
	text-align: center;
}


/* WHO PAGE */

#contacts_container {
		font-size: 20px;
}

.contact_row{
	height: 50px;
}

.selected_contact {
/*	background-color: rgba(254, 254, 254, .5);
	border:2px solid white;
	padding:5px; 
	width: 350px;
	height: 30px;
	border-radius:10px;
	text-align: left;*/
	border: 1px solid #848484; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  border-radius: 30px; 
  outline:0; 
  height:25px; 
  width: 300px; 
  padding-left:10px; 
  padding-right:10px; 
	background-color: rgba(254, 254, 254, .5);
	text-align: left;
}

.contact_to_add {
	border:2px solid white;
	padding:5px; 
	width: 350px;
	height: 30px;
	border-radius:10px;
	text-align: left;
}
.contact_text {
	margin-left: 8px;
	text-decoration: none;
}

.contact_link {
	text-decoration: none;
}
.contact_link:visited {
	color:white;
	text-decoration: none;
}

.textbox { 
	font-family: "helvetica neue";
	font-weight: 200;
	font-style: italic;
  border: 1px solid #848484; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  border-radius: 30px; 
  outline:0; 
  height:25px; 
  width: 300px; 
  padding-left:10px; 
  padding-right:10px; 
} 


/* MESSAGE PAGE */


.message_textbox { 
	font-family: "helvetica neue";
	font-weight: 200;
	font-style: italic;
  border: 1px solid #848484; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
  outline:0; 
  height:250px; 
  width: 400px; 
  padding-left:10px; 
  padding-right:10px; 
} 

.message_label {
	padding-left: 20px;
	font-family: "helvetica neue";
	font-weight: 100;
}

















